<section>
  <div class="jumbotron">
    <h2>DOCU Team Build Management System</h2>
    <h4>Record Happy Hour Together</h4>

    <!-- http://pan.baidu.com/s/1cMjX4E -->
    <span>
      <i class="glyphicon glyphicon-download"></i>
      <a href="http://pan.baidu.com/s/1cMjX4E">Android APK Download</a>
    </span>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>A</strong>ctivities</h2>
      <p>Publish/Maintain Activities</p>
    </div>
    <div class="col-md-3">
      <h2><strong>V</strong>ote</h2>
      <p>Voting to decide better places to go</p>
    </div>
    <div class="col-md-3">
      <h2><strong>M</strong>obile</h2>
      <p>Provides mobile api</p>
    </div>
    <div class="col-md-3">
      <h2><strong>R</strong>elex</h2>
      <p>Monkey tried,I can't create any more</p>
    </div>
  </div>
  <br>Enjoy Your Team Build
  <br>DOCU Team
</section>
