<section>
  <div class="page-header col-md-12">
    <h2>{{::vm.activity.title}}</h2>
    <small class="list-group-item-text">
      Last Updated
      <span data-ng-bind="vm.activity.updated | date:'mediumDate'"></span>
      by
      <span ng-if="vm.activity.updatedBy" ng-bind="vm.activity.updatedBy.displayName"></span>
      <span ng-if="!vm.activity.updatedBy">Deleted User</span>
    </small>
  </div>

  <div class="col-md-12 fix-image">
    <div ng-bind-html="vm.activity.htmlContent">

    </div>
  </div>

  <!-- Like/Collect action Area-->
  <div class="col-md-12" ng-if="vm.authentication.user">
    <button
      type="button"
      class="btn-sm btn-success" ng-click="vm.toggleLike()">
      <i class="glyphicon glyphicon-thumbs-up"></i>
      <span>{{vm.activity.likes.length}}</span>
    </button>

    <button
      type="button"
      class="btn-sm btn-success" ng-click="vm.toggleCollect()">
      <i class="glyphicon glyphicon-star-empty"></i>
      <span>{{vm.activity.collects.length}}</span>
    </button>

    <div>
      <p></p>
    </div>
  </div>


  <div class="col-md-12" ng-if="vm.authentication.user">
    <!-- For ng-repeat -->
    <!-- ui layout might copy weibo.com voting  -->
    <div class="panel panel-default" ng-repeat="voting in vm.activity.votings track by $index">
      <div class="panel-heading">
        <span class="panel-title pull-left">Votings #{{$index+1}}</span>
        <div class="clearfix"></div>
      </div>
      <div
        ng-show="voting.isVoted"
        class="panel-body"
      >
        <h6 class="panel-title"><strong>{{voting.title}}</strong></h6>
        <p>
          {{voting.description}}
        </p>
        <!-- Update here as graph -->
        <div ng-repeat="votingOption in voting.options track by votingOption.sequence">
          <span>{{votingOption.sequence}} : {{votingOption.description}} : {{votingOption.voteDetails.length}}</span>
        </div>

        <!-- Pie chart -->
        <nvd3 options="vm.votingChartOptions" data="voting.options"></nvd3>

      </div>
      <div
        ng-hide="voting.isVoted"
        class="panel-body" ng-init="voting.selected = (voting.selectionType == 'multi')?[]:''">
        <h6 class="panel-title"><strong>{{voting.title}}</strong></h6>
        <p>
          {{voting.description}}
        </p>
        <!-- Existing Votings-->
        <div ng-repeat="votingOption in voting.options track by votingOption.sequence">
          <label ng-if="voting.selectionType == 'single'">
            <input type="radio" ng-model="voting.selected" value="{{votingOption.sequence}}">
            <span>{{votingOption.sequence}} : {{votingOption.description}}</span>
          </label><br/>
          <label ng-if="voting.selectionType == 'multi'">
            <input type="checkbox"
                   ng-click="vm.toggleVotingSelection(voting.selected,votingOption.sequence)"
                   ng-checked="voting.selected.indexOf(votingOption.sequence) > -1"
                   value="{{votingOption.sequence}}">
            <span>{{votingOption.sequence}} : {{votingOption.description}}</span>
          </label><br/>
        </div>
        <button class="btn btn-primary pull-right" ng-click="vm.doVote($index,voting.selected)">Vote!</button>
      </div>

    </div>
  </div>


  <!-- Comments Area -->
  <div class="col-md-12" ng-if="vm.authentication.user">
    <div class="panel panel-default">
      <div class="panel-heading">Comments</div>
      <!-- Existing Comments-->
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="comment in vm.activity.comments">
          <span># {{comment.sequence}}</span>
          <p>
            {{comment.content}}
          </p>
          <small class="list-group-item-text">
            {{comment.createdBy}} , {{comment.created | date:'medium'}}
          </small>
        </li>

      </ul>

      <!-- Input -->
      <div class="panel-body" ng-if="vm.authentication.user">
        <form name="vm.form.commentForm" ng-submit="vm.publishComment(vm.form.commentForm.$valid)" novalidate
              autocomplete="off">
          <div class="form-group" show-errors="">
            <label class="control-label" for="content">Your Comment</label>
            <textarea name="content" data-ng-model="vm.comment.content" id="content" class="form-control" cols="30"
                      rows="3" placeholder="Input Here" required></textarea>
            <div ng-messages="vm.form.commentForm.content.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Content can not be empty.</p>
            </div>
          </div>
          <button class="btn btn-primary pull-right" type="submit">Publish</button>
        </form>
      </div>
    </div>
  </div>


</section>
