<section>

  <div class="col-md-12">
    <div ng-bind-html="vm.activity.htmlContent">

    </div>
  </div>


  <!-- Comments Area -->
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Comments</div>
      <!-- Existing Comments-->
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="comment in vm.activity.comments">
          <span># {{comment.sequence}}</span>
          <p>
            {{comment.content}}
          </p>
          <small class="list-group-item-text">
            {{comment.createdBy}} , {{comment.created | date:'medium'}}
          </small>
        </li>

      </ul>

    </div>
  </div>
</section>
