<section>
  <div class="page-header col-md-12">
    <h1>{{vm.activity._id ? 'Edit Activity' : 'New Activity'}}</h1>
  </div>

  <div class="pull-right">
    <a ng-show="vm.activity._id" class="btn btn-primary" ng-click="vm.del()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

  <div class="col-md-12">
    <form name="vm.form.activityForm" class="form-horizontal col-md-12" ng-submit="vm.save(vm.form.activityForm.$valid)"
          novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.activity.title" id="title" class="form-control"
                 placeholder="Title" required autofocus>
          <div ng-messages="vm.form.activityForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Activity title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <!--<label class="control-label" for="content">Content</label>-->
          <!--<textarea name="content" data-ng-model="vm.activity.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>-->

          <text-angular-toolbar
            ta-toolbar="vm.editorToolbarOptions"
            name="ta-toolbar">
          </text-angular-toolbar>
          <text-angular
            name="htmlContent"
            ta-target-toolbars="ta-toolbar"
            ng-model="vm.activity.htmlContent"></text-angular>

        </div>

        <div class="form-group">
          <p><strong>Votings Area:</strong></p>

          <!-- For ng-repeat -->
          <!-- ui layout might copy weibo.com voting  -->
          <div class="panel panel-default" ng-repeat="voting in vm.activity.votings track by $index">
            <div class="panel-heading">
              <span class="panel-title pull-left">Votings #{{$index+1}}</span>
              <button
                type="button"
                ng-click="vm.delVoting($index)"
                class="btn-sm btn-default pull-right">
                <i class="glyphicon glyphicon-trash"></i>
              </button>
              <div class="clearfix"></div>
            </div>
            <!-- Existing Comments-->
            <ul class="list-group">
              <li class="list-group-item">
                <div class="col-md-12">
                  <div class="form-group" show-errors>
                    <label class="control-label" for="votingTitle{{$index}}">Title</label>
                    <input name="votingTitle{{$index}}" type="text" ng-model="voting.title" id="votingTitle{{$index}}"
                           class="form-control"
                           placeholder="Title" required>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group" show-errors
                       ng-repeat="votingOption in voting.options track by votingOption.sequence">
                    <label class="control-label" for="votingOption{{votingOption.sequence}}">Option
                      #{{votingOption.sequence}}</label>
                    <div class="input-group">
                      <input name="votingOption{{votingOption.sequence}}" type="text"
                             ng-model="votingOption.description" id="votingOption{{votingOption.sequence}}"
                             class="form-control"
                             placeholder="Option Description" required>
                      <span class="input-group-addon ">
                        <i class="glyphicon-trash glyphicon" ng-click="vm.delVotingOption(voting,votingOption.sequence)"
                           ng-show="voting.options.length > 2"></i>
                      </span>

                    </div>
                  </div>
                </div>

                <div>
                  <button type="button" class="btn-sm btn-warning" ng-click="vm.addVotingOption($index)">Add Option
                  </button>
                </div>

                <p><strong>Selection Type:</strong></p>
                <div class="btn-group">
                  <label class="btn btn-success" ng-model="voting.selectionType" uib-btn-radio="'single'">Single</label>
                  <label class="btn btn-success" ng-model="voting.selectionType" uib-btn-radio="'multi'">Multi</label>
                </div>

              </li>
            </ul>
          </div>
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-default btn-warning" ng-click="vm.addVoting()">Add Voting</button>
          <button type="submit" class="btn btn-default btn-primary pull-right">{{vm.activity._id ? 'Update' :
            'Create'}}
          </button>
        </div>

      </fieldset>
    </form>
  </div>


  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Comments</div>
      <!-- Existing Comments-->
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="comment in vm.activity.comments">
          <span># {{comment.sequence}}</span>
          <p>
            {{comment.content}}
          </p>
          <small class="list-group-item-text">
            {{comment.createdBy}} , {{comment.created | date:'medium'}}
          </small>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-12">
    <p><strong>JSON Preview:</strong></p>
    <pre>{{vm.activity  | json}}</pre>
  </div>


  <div class="col-md-12">
    <p><strong>Attachments Preview:</strong></p>
    <pre>{{vm.activity.htmlContent | attachmentFilter | json}}</pre>
  </div>
</section>
