<section>
  <div class="page-header">
    <h1>{{vm.activity._id ? 'Edit Activity' : 'New Activity'}}</h1>
  </div>

  <div class="pull-right">
    <a ng-show="vm.activity._id" class="btn btn-primary" >
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

  <div class="col-md-12">
    <form name="vm.form.activityForm" class="form-horizontal" ng-submit="vm.save(vm.form.activityForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.activity.title" id="title" class="form-control" placeholder="Title" required autofocus>
          <div ng-messages="vm.form.activityForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Activity title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <!--<label class="control-label" for="content">Content</label>-->
          <!--<textarea name="content" data-ng-model="vm.activity.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>-->

          <text-angular-toolbar
            name="ta-toolbar"></text-angular-toolbar>
          <text-angular
            name="htmlContent"
            ta-target-toolbars="ta-toolbar"
            ng-model="vm.activity.htmlContent"></text-angular>

        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default btn-primary">{{vm.activity._id ? 'Update' : 'Create'}}</button>
        </div>

        <div class="form-group">
          <pre>
            {{vm.activity}}
          </pre>
        </div>
      </fieldset>
    </form>
  </div>
</section>
